body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
}
body {
	background-color: #FFF;
}
.vw_Buttons {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.vw_Small {
	font-size: 10px;
	color: #666;
	border-bottom-style: dashed;
	border-bottom-color: #666;
	border-bottom-width: 1px;
}
.vw_Buttons_Bg {
	background-color:#BFF1C1;
}
a:link {
	color: #09C;
}
a:visited {
	color: #09C;
}
a:hover {
	color: #09C;
}
a:active {
	color: #09C;
}